body {
    background-color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.div {
    margin: 50px;
}

#buttonDiv button {
    width: 200px;
    height: 50px;
    margin: 60px;
    font-size: 18px;
}