/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}


/* LÄGG TILL DENNA INNAN LIVE*/
/* body {
  background-color: blue;
} */



.mainbody {
  background-color: white;
  width: 360px;
  height: 640px;
  overflow: auto;
  font-family: georgia;
  color: color;
  text-align: center;
  margin: 0px;
  position: relative;
}

.topmenu {
	width: 360px;
	height: 70px;
}

.topmenu-button {
	background-color: #5BC8AC;
	float: left;
	width: 96px;
	height: 46px;
	margin: 10px;
	text-align: center;
	border-width: 2px;
	border-color: #93DBC6;
	border-style: solid;
	border-radius: 10px;	
	color: white;
}


.mapbox {
	background-color: #93DBC6;
	width: 340px;
	height: 340px;
	margin: 10px;
}

.resultbox {
	background-color: #93DBC6;
	width: 340px;
	height: 170px;
	margin: 10px;
	position: relative;
	box-shadow: 5px 5px 5px silver;
	overflow: hidden;
	color: black;
}

.resultbox-header {
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 340px;
	background-color: white; 
	text-align: center;
}

.resultbox-pricing {
	position: absolute;
	bottom: 50px;
	height: 30px;
	width: 340px;
	background-color: black; 
	opacity: 0.5;
	color: white;
	font-size: 10px;
}


.fillerbox {
	width: 340px;
	height: 30px;
	margin: 10px;
}

.bottom-menu {
	position: fixed; 
	bottom: 0px;
	width: 360px;
	height: 80px;	
}

.bottom-menu-button {
	background-color: #5BC8AC;
	float: left;
	width: 66px;
	height: 56px;
	margin: 10px;
	border-radius: 50px;
	padding-top: 8px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

.bottom-menu-button-center {
	background-color: #5BC8AC;
	float: left;
	width: 66px;
	height: 56px;
	margin: 10px 55px 10px 55px;
	border-radius: 50px;
	padding-top: 8px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

.align-left {
	text-align: left;
	padding-left: 5px;
}

.align-right {
	text-align: right;
	padding-right: 5px;
}

/*-----------------------------------PROFILE------------------------*/

.userbox {
	background-color: #93DBC6;
	width: 360px;
	height: 220px;
	margin: 20px 0px 10px 0px;
	position: relative;
	overflow: hidden;
}

.userbox-split {
	width: 90px;
	height: 220px;
	float: left;
}

.userbox-icon {
	width: 170px;
	height: 170px;	
	margin-top: 10px;
	float: left;
}

.userbox-gear {
	left: 300px;
	width: 50px;
	height: 50px;
	float: right;
	margin: 10px 10px 0px 0px; 
}

.achievementbox {
	background-color: #93DBC6;
	width: 360px;
	height: 340px;
	margin: 10px 0px 10px 0px;
	position: relative;
	text-decoration: none;
}

.achievementbox-header {
	width: 260px;
	height: 50px;
	margin: 0px 50px 0px 50px;
	padding-top: 5px;
	font-size: 14px;
	color: white;
}

.achievementbox-levelbar {
	width: 300px;
	height: 70px;
	margin: 0px 30px 10px 30px;
	text-align: left;
	font-size: 14px;
	color: white;
	line-height: 0px;
}

.achievementbox-medallion {
	width: 60px;
	height: 70px;
	margin: 0px 0px 15px 20px;
	float: left;
}

.achievementbox a {
	text-decoration: none;
}


.user-settings-box {
	background-color: #93DBC6;
	width: 360px;
	height: 640px;
	margin: 10px 0px 10px 0px;
	position: relative;
	text-decoration: none;
}

.user-settings-textbox {
	background-color: white;
	width: 360px;
	height: 50px;
	border-color: #5BC8AC;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	color: black;
}

.user-settings-left {
	width: 120px;
	height: 50px;
	float: left;
	text-align: left;
	padding-left: 15px;
}

.user-settings-right {
	width: 200px;
	height: 50px;
	float: right;
	text-align: right;
	padding-right: 15px;
}


/*---------------------------   RESULTS ----------------------*/

.results-bottom-header {
	width: 360px;
	height: 60px;
	position: absolute;
	bottom: 0px;
	background-color: #5BC8AC;
	border-style: solid;
	border-color: #5BC8AC;
	border-width: 0px 0px 2px 0px;
	color: white;
}

.results-bottom-fade {
	position: absolute;
	bottom: 60px;
	height: 30px;
	width: 360px;
	background-color: black; 
	opacity: 0.5;
	color: white;
	font-size: 10px;
}

.backbutton {
	position: absolute; 
	top: 5px;
	background-color: #93DBC6;
	left: 5px;
	width: 46px;
	height: 46px;
	float: right;
	border-radius: 50px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

.results-header {
	width: 285px;
	height: 80px;
	background-color: white;
	position: relative;
	top: 10px;
	left: 30px;
	padding-left: 15px;
	padding-top: 1px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 14px;
}



.results-body {
	width: 300px;
	height: 200px;
	background-color: white;
	position: relative;
	top: 10px;
	left: 30px;
	padding-top: 10px; 
}

#transparent {
	color: white;
}


.addtocart-button {
	background-color: #5BC8AC;
	width: 170px;
	height: 50px;
	margin: 30px 0px 0px 60px;
	border-radius: 30px;
	padding: 0px 0px 0px 0px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	color: white;
	text-decoration: none;
	box-shadow: 3px 3px 5px silver;
}





/*-------------------------- SHOPPING CART ----------------*/
.shopping-contentbox {
	float: left;
	width: 320px;
	height: 60px;
	line-height: 0px;
	margin: 0px 20px 10px 20px;
	border-color: white;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	box-shadow: 3px 3px 5px silver;
	color: white;
}

.gotoregister-button {
	background-color: #5BC8AC;
	float: right;
	width: 100px;
	height: 46px;
	margin: 10px;
	border-radius: 30px;
	padding: 0px 0px 0px 0px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	color: white;
	text-decoration: none;
	box-shadow: 3px 3px 5px silver;
}

















/* För popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #93DBC6;
  border-color: #E9E9E9;
  width: 280px;
  height: 450px;
  position: absolute;
  left: 25px;
  top: 20px;
  color: white;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: 40px;
  height: 40px;
  padding: 0px 5px 5px 4px;
  text-align: center;
  font-size: 40px;
}

.popup .content {
  position: absolute;
  top: 50px;
}

.popup-centerpic {
	width: 120px;
	height: 140px;
	position: absolute;
	left: 80px;
	top: 10px;
}

.popup-centerinfo {
	width: 160px;
	height: 140px;
	position: absolute;
	left: 60px;
	top: 80px;
}

.popup-bottom {
	width: 220px;
	height: 60px;
	position: absolute;
	left: 30px;
	top: 250px;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	font-size: 20px;
}

